:root {
    --accent-color: #EA3223;

    --header-height: 66px;
    --header-margin-top: 20px;
    --header-height-with-spacings: calc(var(--header-margin-top) + var(--header-height) + 42px);

    --navbar-height: 78px;
    --navbar-margin-bottom: 24px;
    --navbar-height-with-spacings: calc(var(--navbar-margin-bottom) + var(--navbar-height) + 30px);
}

body {
    padding-top: var(--header-height-with-spacings);
}

@media screen and (max-width: 991px) {
    body {
        padding-bottom: var(--navbar-height-with-spacings);
    }
}

body>section {
    position: relative;
    z-index: 1;
}

hr {
    border-color: #F0F0F0;
}

/* Buttons */
.btn {
    border-radius: 12px;
}

.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.btn-primary:hover {
    background-color: #fff;
    border-color: #fff;

    color: var(--accent-color);
}

.btn-primary--reverse {
    background-color: #fff;
    border-color: #fff;

    color: var(--accent-color);
}

.btn-primary--reverse:hover {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    color: #fff;
}

/* Cloud */
.cloud {
    --border-radius: 200px;

    min-height: 700px;
    padding: 140px 64px;
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

.cloud:not(.cloud--transparent) {
    background-color: var(--accent-color);

    color: #fff;
}

.cloud--no-padding-left {
    padding-left: 0;
}

.cloud--top-right {
    border-top-right-radius: 0;
}

.cloud--top-left-reverse {
    border-radius: 0;
    border-bottom-right-radius: var(--border-radius);
}

.cloud--left-bottom {
    border-bottom-left-radius: 0;
}

.cloud--square {
    width: 100%;
    min-height: auto;
    height: auto;
    aspect-ratio: 1 / 1;
}

.cloud--auto-height {
    height: 100%;
    min-height: auto;
}

.cloud--image {
    position: relative;
    overflow: hidden;
}

.cloud--image img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center
}

.cloud__image-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, 0.25);
}

.cloud--image.cloud--top-left-reverse img {
    border-top-left-radius: 100%;
}

.cloud--image .cloud__icon {
    position: absolute;
    top: 100px;
    left: 50%;
    max-width: 50%;
    height: auto;
    transform: translateX(-50%);
}

.cloud__icon {
    width: 76px;
}

.cloud__icon--reverse {
    background-color: #fff;
}

.cloud__icon--borders {
    border-radius: 24px;
    border-top-right-radius: 0;
}

@media screen and (max-width: 991px) {
    .cloud {
        --border-radius: 24px;

        min-height: auto;
        margin: 0;
        padding: 24px 12px;
    }

    .cloud--image {
        aspect-ratio: 16 / 9;
    }

    .cloud--image .cloud__icon {
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 50%;
    }

    .cloud--image.cloud--top-left-reverse img {
        border-top-left-radius: 0;
    }

}

/* Header */
.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
    padding-top: var(--header-margin-top);
    padding-bottom: 64px;
}

.header {
    background-color: var(--accent-color);
    margin-right: -24px;
    margin-left: -24px;
    border-radius: 24px;
    padding-left: 24px;
    padding-right: 24px;
    height: var(--header-height);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    height: 48px;
}

.header__menu {
    display: flex;
    align-items: center;
}

.header__menu-item {
    margin-left: 40px;
    border-radius: 8px;
    padding: 8px 12px;

    color: #fff;
    text-decoration: none;

    transition: 0.3s;
}

.header__menu-item:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

@media screen and (max-width: 991px) {
    .header {
        margin: 0;
        padding-right: 12px;
        padding-left: 12px;
    }

    .header__menu-item {
        font-size: 14px;
    }
}

/* Intro */
.intro {
    height: 600px;
    border-radius: 24px;
    overflow: hidden;

    display: flex;
    align-items: stretch;
}

.intro__content {
    position: relative;
    z-index: 2;

    background-color: #fff;
    width: 45%;
    border-radius: 24px;
    padding: 24px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: start;

    box-shadow: 4px 0 16px rgba(0, 0, 0, 0.1);
}

.intro__icon {
    width: 76px;
    height: 76px;
    border-radius: 24px;
}

.intro__space {
    flex: 1;
}

.intro__line {
    width: calc(100% + 48px);
    margin: -24px;
}

.intro__swiper {
    position: relative;
    z-index: 1;

    width: calc(55% + 24px);
    margin-left: -24px;
}

.intro__swiper .swiper {
    width: 100%;
    height: 100%;
}

.intro__swiper .swiper-pagination {
    bottom: 32px;

    padding-right: 40px;

    text-align: right;
}

.intro__swiper .swiper-pagination-bullet {
    background-color: #fff;
    width: 24px;
    height: 12px;
    border-radius: 12px;

    opacity: 1;
    transition: background-color 0.5s, width 0.5s;
}

.intro__swiper .swiper-pagination-bullet-active {
    background-color: var(--accent-color);
    width: 48px;
}

.slide {
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 991px) {
    .intro-wrapper {
        padding: 0;
        margin: 0;
        margin-top: calc(0 - var(--header-height-with-spacings));
    }

    .intro {
        position: relative;

        height: calc(100vh - var(--navbar-height-with-spacings));
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        flex-direction: column-reverse;
    }

    .intro__content {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;

        background-color: transparent;
        width: 100%;

        color: #fff;

        box-shadow: none;
    }

    .intro__icon {
        display: none;
    }

    .intro__line {
        display: none;
    }

    .intro__swiper {
        position: relative;

        width: 100%;
        height: 100%;
        margin: 0;
    }

    .intro__swiper-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;

        background: linear-gradient(0, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    }

    .intro__swiper .swiper-pagination {
        display: none;
    }
}

/* No Doubt */
.no-doubt__left {
    border-radius: 200px 200px 0 200px;
}

.no-doubt__right {
    border-radius: 200px 0 200px 200px;
}

@media screen and (max-width: 991px) {
    .no-doubt__left {
        border-radius: 60px 60px 60px 0;
        aspect-ratio: 1 / 1;
    }

    .no-doubt__right {
        border-radius: 0 60px 32px 32px;
        padding-bottom: 12px;
    }

    .no-doubt__right .btn {
        border-radius: 32px;
    }
}

/* Idea */
.idea__left {
    padding-left: 0;
}

.idea__right {}

@media screen and (max-width: 991px) {
    .idea__left {
        padding: 0;
    }

    .idea__right {
        height: 420px;
        aspect-ratio: auto;
    }
}

/* Clarity */
.clarity__left {
    border-radius: 0 0 200px 0;
    aspect-ratio: 1 / 1;
}

.clarity__left img {
    border-top-left-radius: 100%;
}

.clarity__right {}

@media screen and (max-width: 991px) {
    .clarity__left {
        border-radius: 24px 0 64px 0;
    }

    .clarity__right {
        padding: 0;
    }
}

/* Application Form */
.application-form {
    background-color: var(--accent-color);
    border-radius: 32px;
    padding: 64px;

    color: #fff;
}

.application-form__form {
    display: flex;
    flex-direction: column;
}

.application-form__input {
    width: 100%;
    height: 64px;
    border: none;
    border-radius: 12px;
    padding: 0 24px;
    outline: none;
}

.application-form__button {
    background-color: var(--accent-color);
    width: 100%;
    height: 64px;
    border: 2px solid #fff;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: #fff;
    font-weight: 500;
}

.application-form__button:hover {
    background-color: #fff;
    color: #000
}

@media screen and (max-width: 991px) {
    .application-form {
        padding: 24px;
    }
}


/* Navbar */
.navbar-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;

    background: rgb(0, 0, 0);
    background: linear-gradient(0, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    padding-top: 30px;
    padding-bottom: var(--navbar-margin-bottom);
}

.navbar {
    background-color: var(--accent-color);
    margin-right: -4px;
    margin-left: -4px;
    border-radius: 24px;
    padding-left: 12px;
    padding-right: 12px;
    height: var(--navbar-height);

    display: flex;
    align-items: center;
}

.navbar__menu {
    width: 100%;

    display: flex;
    align-items: center;
}

.navbar__menu-item {
    flex: 1;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    align-items: center;

    color: #fff;
    font-size: 12px;
    text-decoration: none;

    transition: 0.3s;
}

.navbar__menu-item img {
    margin-bottom: 4px;
}

/* News */
.news__image {
    width: 100%;
    height: 550px;
}

.news__image img {
    width: 100%;
    height: 100%;
    border-radius: 64px;
    object-fit: cover;
    object-position: center;
}

.news__info {
    width: 100%;
    height: 550px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.news--reverse .news__info {
    position: relative;
    background-color: var(--accent-color);
}

.news--reverse .news__info>* {
    position: relative;
    z-index: 2;
}

.news--reverse .news__info::before {
    content: '';

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;

    background-color: #fff;
    border-top-left-radius: 100px;
}

@media screen and (max-width: 991px) {
    .news__image {
        height: 420px;
        max-height: 60vh;
    }

    .news__info {
        background-color: transparent !important;
        height: auto;

        align-items: stretch;
    }
}

/* Pagination */
.my-pagi__item {
    background-color: #F0F0F0;
    width: 64px;
    height: 64px;
    border-radius: 12px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;

    transition: 0.3s;
}

.my-pagi__item:not(.active) {
    cursor: pointer;
}

.my-pagi__item:not(.active):hover {
    background-color: var(--accent-color);

    color: #fff;
}

.my-pagi__item.active {
    background-color: var(--accent-color);
    width: auto;
    padding: 0 24px;

    color: #fff;
    font-weight: 500;
}

@media screen and (max-width: 991px) {
    .my-pagi__item {
        width: 48px;
        height: 48px;

        font-size: 16px;
    }
}

/* Masters */
.masters__title {
    color: var(--accent-color);
}

.masters__image {
    width: 100%;
    height: 550px;
    border-radius: 64px;
    object-fit: cover;
    object-position: center;
}

@media screen and (max-width: 991px) {
    .masters__image {
        height: auto;
        border-radius: 24px;
        aspect-ratio: 1 / 1;
    }
}